<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8067a5">  <td>20/01/24 16:14:33</td>   <td>0</td> <td title="&gt;&gt;formstack.Singleton()[pri:0, instance:demo.formstack@22a67b4]">&gt;&gt;Singleton</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@92150540</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>20/01/24 16:14:33</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="formstack.Login()[pri:0, instance:demo.formstack@22a67b4]">Login</td> 
  <td>main@92150540</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>20/01/24 16:15:02</td>   <td>28531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="formstack.abst()[pri:0, instance:demo.formstack@22a67b4]">abst</td> 
  <td>main@92150540</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>20/01/24 16:15:02</td>   <td>28579</td> <td title="&lt;&lt;formstack.Singletondisconnect()[pri:0, instance:demo.formstack@22a67b4]">&lt;&lt;Singletondisconnect</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@92150540</td>   <td></td> </tr>
</table>
